.alert {
    text-align: center;
    padding: 1rem ;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    transition: all 0.5s;
}

.alert-error {
    background-color: #FFF5F5;
    border: 2px solid #F98A89;
    color: #bb6968;
}
.alert-success {
    background-color: #F0F9EF;
    border: 2px solid #7CBC77;
    color: #598756;
}