.search-container {
    position: relative;
    background-color: #1F2A48;
    display: flex;
    width: 100%;
    border-radius: 1.2rem;
    padding: 0.5rem;
    margin-top: 2.7rem;
    transition: all 0.3s;
}

body.dark .search-container {
    background-color: #FEFEFE;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
}

.search-container .search-icon {
    width: 70px;
    color: #0077FD;
    padding-left: .5rem;
}

.search-container input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-left: .5rem;
    padding-right: .4rem;
    transition: all 0.3s;
}

body.dark .search-container input {
    color: black;
}

.search-container input::placeholder {
    color: gray;
}

.search-container input:focus {
    outline: none;
}

.search-container button {
    background-color: #0077FD;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1.3rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    letter-spacing: .1rem;
    transition: all .3s;
}

.search-container button:hover {
    border: 2px solid #3895ff;
    cursor: pointer;
}

/* help --------------------------- */
.help {
    position: absolute;
    bottom: -35px;
    left: 50px;
    background-color: rgb(230, 230, 230);
    border-radius: .8rem;
    padding: 0.8rem 1rem;
    color: #4C6A9D;
}

.help::before {
    content: '';
    position: absolute;
    background-color: rgb(230, 230, 230);
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    top: -13px;
    left: 30px;
}

.help p {
    z-index: 1;
}


/* spinner ----------------------- */

  .container-spinner {
    --uib-size: 40px;
    --uib-color: #0077FD;
    /* --uib-color: black; */
    --uib-speed: 1s;
    --uib-stroke: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .line {
    position: absolute;
    top: 11px;
    left: calc(50% - var(--uib-stroke) / 2);
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: var(--uib-stroke);
  }

  .line::before {
    content: '';
    height: 22%;
    width: 100%;
    border-radius: calc(var(--uib-stroke) / 2);
    background-color: var(--uib-color);
    animation: pulse calc(var(--uib-speed)) ease-in-out infinite;
    transition: background-color 0.3s ease;
    transform-origin: center bottom;
  }

  .line:nth-child(1) {
    transform: rotate(calc(360deg / -12 * 1));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 1);
    }
  }
  .line:nth-child(2) {
    transform: rotate(calc(360deg / -12 * 2));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 2);
    }
  }
  .line:nth-child(3) {
    transform: rotate(calc(360deg / -12 * 3));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 3);
    }
  }
  .line:nth-child(4) {
    transform: rotate(calc(360deg / -12 * 4));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 4);
    }
  }
  .line:nth-child(5) {
    transform: rotate(calc(360deg / -12 * 5));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 5);
    }
  }
  .line:nth-child(6) {
    transform: rotate(calc(360deg / -12 * 6));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 6);
    }
  }
  .line:nth-child(7) {
    transform: rotate(calc(360deg / -12 * 7));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 7);
    }
  }
  .line:nth-child(8) {
    transform: rotate(calc(360deg / -12 * 8));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 8);
    }
  }
  .line:nth-child(9) {
    transform: rotate(calc(360deg / -12 * 9));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 9);
    }
  }
  .line:nth-child(10) {
    transform: rotate(calc(360deg / -12 * 10));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 10);
    }
  }
  .line:nth-child(11) {
    transform: rotate(calc(360deg / -12 * 11));

    &::before {
      animation-delay: calc(var(--uib-speed) / -12 * 11);
    }
  }

  @keyframes pulse {
    0%,
    80%,
    100% {
      transform: scaleY(0.75);
      opacity: 0;
    }
    20% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

